extends base
include mixins/video

block content
  if user.avatarUrl
    img(src="/"+user.avatarUrl, alt="Avatar", width="100", height="100", style="object-fit:cover")
  h1=user.name
  each video in videos
    +video(video)
