extends base.pug
block content
  div.upload__container
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
      label(for="video") Video File
      input(type="file", id="video", name="video", accept="video/*", required)
      input(placeholder="Title", name="title", required, type="text", minlength=5, maxlength=80)
      input(placeholder="Description", name="description", required, type="text", minlength=20, maxlength=140)
      input(placeholder="Hashtags, separated by comma.", name="hashtags", required, type="text")
      input(type="submit", value="Upload Video")
